@model MovieRental.Models.Movie
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    <div>
        Are you sure you want to order @Html.DisplayFor(model => model.Title) for @Html.DisplayFor(model => model.Price)?
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.MovieId)
        <div class="form-actions no-color">
            <input type="submit" value="Order" class="btn btn-default" /> |
            @Html.ActionLink("Back to Movies", "Index", "Movies")
        </div>
    }
</body>
</html>
